[init]
        defaultBranch = main
[include]
        path = ~/.gitconfig.local
[core]
	excludesFile = ~/.gitignore_global
[alias]
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
